/* external css */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.Button{
    width: 15rem;
    height: 5rem;
    border-radius: 16px;
    border: 1px solid black;

    box-shadow: -2px 2px 0px 1px;
    
    background-color: rgb(19, 235, 19);
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
.Button:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 0px; 
} */